name: Publish to edge

on:
  push:
    branches:
      - main

jobs:
  pack-charm:
    name: Prepare charm for upload
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd # v0.1.3

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Pack charm
        run: charmcraft pack -v

      - name: Upload charm artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: charm
          path: ./*.charm

  define-matrix:
    name: Define charms upload matrix
    runs-on: ubuntu-24.04
    needs:
      - pack-charm
    outputs:
      charms: ${{ steps.charms.outputs.charms }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Download charm artifact(s)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: charm

      - name: Generate matrix list
        id: charms
        run: |
          list="$(ls *.charm | jq -r -ncR '[input]')"
          echo "charms=$list"
          echo "charms=$list" >> $GITHUB_OUTPUT

  publish-to-edge:
    name: Release to CharmHub
    runs-on: ubuntu-24.04
    needs:
      - define-matrix
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-matrix.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Select charmhub channel
        id: channel
        uses: canonical/charming-actions/channel@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0

      - name: Download charm artifact(s)
        uses: actions/download-artifact@v4
        with:
          name: charm

      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          built-charm-path: "${{ matrix.charm }}"
