name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
          sudo snap install shfmt
          sudo snap install shellcheck
      - name: Run linters
        run: make lint

  static:
    name: Static type checks
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
      - name: Run static checks
        run: make static

  unit-test:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
          sudo snap install shfmt
          sudo snap install shellcheck
      - name: Run tests
        run: make unit

